dbt_modules/
dbt_packages/
logs/
.python-version
.venv
target/
*.pyc
.mypy_cache/
__pycache__/
unittests.cfg
.vscode
*.DS_Store
models/.dbt_audit/*
!models/.dbt_audit/dummy.sql
.pytest_cache/
.ruff_cache/
target/
dbt_packages/
logs/
marketing_data/